<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover" >
  <title><%= htmlWebpackPlugin.options.blogName %>博客数据统计报告</title>
</head>
<body>
  <div class="row body-container" id="body-container">
    <h2><%= htmlWebpackPlugin.options.blogName %>博客数据统计报告</h2>
  
    <h3>年度数据</h3>
    <div id="all-years"></div>
    <h3>月度数据</h3>
    <div id="all-months"></div>
    <h3>年度分类数据</h3>
    <div id="category-years"></div>
    <h3>作者月度数据</h3>
    <div id="all-authors"></div>
    <h3>作者文章分类数据</h3>
    <div id="author-categories"></div>
  </div>
</body>
</html>